
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: teal;
    padding: 10px 20px;
    
}

/* Style the hero section */
.hero {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/736x/e3/ca/b7/e3cab7fef5c2164d9e8a021142a670b3--advertising-photographer-roller-derby.jpg");
    background-repeat: repeat;
    
    }
.hero h1 {
    font-size: 36px;
    color: coral;
    margin-bottom: 20px;
}

.hero h2{
    font-size: 20px; 
    color: turquoise;
    margin-top: 5px; 
  }

.hero button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.hero-image {
    background-image: url("https://www.feistees.com/images/uploads/2012/01/barrel-rollers-star-fox-shirt.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    position: relative;
  }


/* Add more styles for other sections as needed */
