body {
    margin: 0;
    padding: 0;
}

:root {
    --secondary-color: #151226;
    --contrast-color: #BF307F;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    left: 30px;
    right: 30px;
    z-index: 1000;
    
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1689604018071-f609ea651d59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}


.hero {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

/*.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
*/

.hero-button {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out forwards 1s;
}

.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /*hides it*/
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/*cursor*/
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}



